In [26]:
import pandas as pd
from sklearn.datasets import load_iris
iris=load_iris()
dir(iris)

['DESCR',
 'data',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [36]:
#make dataframe
df=pd.DataFrame(iris.data)
df['target']=iris.target
df['target_name']=df.target.apply(lambda x: iris.target_names[x])
df

       0    1    2    3  target target_name
0    5.1  3.5  1.4  0.2       0      setosa
1    4.9  3.0  1.4  0.2       0      setosa
2    4.7  3.2  1.3  0.2       0      setosa
3    4.6  3.1  1.5  0.2       0      setosa
4    5.0  3.6  1.4  0.2       0      setosa
..   ...  ...  ...  ...     ...         ...
145  6.7  3.0  5.2  2.3       2   virginica
146  6.3  2.5  5.0  1.9       2   virginica
147  6.5  3.0  5.2  2.0       2   virginica
148  6.2  3.4  5.4  2.3       2   virginica
149  5.9  3.0  5.1  1.8       2   virginica

[150 rows x 6 columns]

In [39]:
X=df.drop(['target','target_name'],axis='columns')
X

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [40]:
y=df.target
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int32

In [61]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [62]:
#80%
len(X_train)

120

In [63]:
#80%
len(y_train)

120

In [64]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=10)#n_estimators=10 is number of trees

In [65]:
model.fit(X_train,y_train)

RandomForestClassifier(n_estimators=10)

In [66]:
model.score(X_test,y_test)

0.9666666666666667

In [67]:
model.predict(X_test)

array([1, 2, 0, 1, 2, 0, 2, 2, 1, 2, 0, 2, 0, 1, 0, 0, 2, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 2, 1, 1, 2])